---
import { Image } from "astro:assets";
import background from "../../../images/background_home.png";
import Wave from "./Wave.astro";
import Open from "../../sources/Open.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const BUTTON_TEXT = t("home.header.button");
const BUTTON_SHORT_INFO = t("home.header.short-info");
const DESCRIPTION_TEXT = t("home.header.info");
---

<script>
	document.addEventListener(
		"astro:page-load",
		() => {
			const modal = document.getElementById("modal-header");
			const close = document.querySelector<HTMLElement>(".modal-close-header");
			const button = document.getElementById("header-button");

			if (button && modal && close) {
				button.onclick = (event) => {
					modal.style.display = "flex";
					setTimeout(() => {
						modal.style.opacity = "1";
					}, 10);
					document.body.style.overflow = "hidden";
					event.stopPropagation();
				};

				close.onclick = (event) => {
					document.body.style.overflow = "auto";
					setTimeout(() => {
						modal.style.display = "none";
					}, 500);
					modal.style.opacity = "0";
				};
			}
		},
		{ once: false }
	);
</script>

<header class="header-ctn" id="header">
	<Image class="header-background" src={background} alt="Logo Waqanki" />
	<div class="header-overlay"></div>
	<div class="header-info">
		<h1 class="header-title">WAQANKI ECOLODGE</h1>
		<p class="header-paragraph">{BUTTON_SHORT_INFO}</p>
		<button id="header-button" class="header-button">{BUTTON_TEXT} <Open /></button>
	</div>
	<Wave opacity=".5" position="header-wave-first" />
	<Wave opacity=".5" position="header-wave-second" />
	<Wave opacity="1" position="header-wave-third" />

	<div
		id="modal-header"
		class="fixed top-0 z-[80] hidden h-full w-full bg-[rgba(0,0,0,0.65)] opacity-0 transition-opacity duration-[0.5s]"
	>
		<div class="m-auto box-border flex w-[400px] flex-col rounded-2xl bg-[#eee] p-6 lg:w-[70%]">
			<button class="modal-close-header ml-auto h-auto w-6 font-bold">X</button>
			<p class="px-2 text-base lg:px-4">
				{DESCRIPTION_TEXT}
			</p>
		</div>
	</div>
</header>

<style>
	.header-ctn {
		height: 100vh;
		position: relative;
		/* width: 100vw; */
	}

	.header-background {
		height: 100%;
		object-fit: cover;
		position: absolute;
		width: 100%;
		z-index: 0;
		background-color: #347738;
	}

	.header-overlay {
		height: 100%;
		content: "";
		position: absolute;
		width: 100%;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.15);
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}

	.header-info {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		margin: 0;
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.header-title {
		color: #eee;
		font-size: 2.8rem;
		text-align: center;
		margin-bottom: 24px;
		-webkit-text-stroke-color: #000;
		-webkit-text-stroke-width: 0.1px;
	}

	.header-paragraph {
		color: #eee;
		font-size: 1.1rem;
		text-align: center;
		margin-bottom: 24px;
		line-height: 130%;
		padding: 0 36px;
		-webkit-text-stroke-color: #000;
		-webkit-text-stroke-width: 0.1px;
		max-width: 50rem;
	}

	.header-button {
		background-color: #13260f;
		border-radius: 0.8em;
		border: none;
		color: #eee;
		cursor: pointer;
		font-size: 1.1rem;
		padding: 0.3em 0.5em;
		transition:
			color 0.15s ease-in-out,
			background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out;
		text-decoration: none;
		user-select: none;
		-webkit-user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	@media (min-width: 768px) {
		.header-title {
			font-size: 3.1rem;
		}

		.header-paragraph {
			font-size: 1.125rem;
			max-width: 31.25rem;
		}
	}
</style>
