<section class="px-[26px]lg:px-0 m-auto mt-20 w-full max-w-[956px]" id="multimedia">
	<h1 class="title mb-9 text-center text-5xl">Multimedia</h1>
	<div class="relative pt-[56.25%]">
		<iframe
			class="absolute inset-0 h-full w-full overflow-hidden rounded-xl shadow-xl"
			src="https://www.youtube.com/embed/cuVvEl1qJds?si=Svj9PceAd2fJNy7k?controls=0&autoplay=0"
			title="YouTube video player"
			loading="lazy"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>
</section>

<style>
	.title {
		text-shadow: 1px 2px #d1d1d1;
	}
</style>
