<section class="w-full max-w-[956px] m-auto mt-20 px-7 lg:px-0" id="multimedia">
  <h1 class="text-center text-5xl mb-9">Multimedia</h1>
  <div class="relative pt-[56.25%]">
    <iframe
    class="absolute inset-0 w-full h-full  rounded-xl overflow-hidden  shadow-xl"
    src="https://www.youtube.com/embed/cuVvEl1qJds?si=Svj9PceAd2fJNy7k?controls=0&autoplay=0"
    title="YouTube video player"
    loading="lazy"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
</section>
