---
import { Image } from "astro:assets";
import logo from "../../images/logo_white.png";
---

<script>
	const hamburgerCheckbox = document.getElementById("hamburger");
	const menuLinks = document.querySelectorAll("a");

	menuLinks.forEach((link) => {
		link.addEventListener("click", () => {
			hamburgerCheckbox.checked = false;
		});
	});
</script>

<div class="fixed z-50 box-border w-full overflow-hidden">
  <div class="relative z-20 bg-black/80">
    <div class="px-6 lg:container md:px-12 lg:mx-auto lg:px-6 lg:py-4">
      <div class="flex items-center justify-between">
        <div class="relative z-20">
          <a href="#">
            <Image class="w-32" src={logo} alt="Logo Waqanki" />
          </a>
        </div>

        <div class="flex items-center justify-end border-l lg:border-l-0">
          <input type="checkbox" name="hamburger" id="hamburger" class="peer" hidden />
          <label for="hamburger" class="peer-checked:hamburger relative z-20 -mr-6 block cursor-pointer p-6 lg:hidden">
            <div aria-hidden="true" class="m-auto h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
            <div aria-hidden="true" class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
          </label>

          <div class="fixed inset-0 w-[calc(100%)] translate-y-[-100%] border-r bg-black/80 shadow-xl transition duration-300 peer-checked:translate-y-0 lg:static lg:w-auto lg:translate-y-0 lg:border-r-0 lg:bg-transparent lg:shadow-none">
            <div class="flex h-full flex-col justify-between lg:flex-row lg:items-center">
              <ul class="space-y-8 px-6 pt-32 text-gray-700 md:px-12 lg:flex lg:space-x-12 lg:space-y-0 lg:pt-0">
                <li class="relative">
                  <input type="checkbox" name="hamburger" id="hamburger" class="peer" hidden />
                  <span class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:bg-cyan-100">
                    <a href="#header">
                      <span class="relative text-cyan-800">Home</span>
                    </a>
                  </span>
                </li>
                <li class="relative">
                  <span class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                    <a href="#services">
                      <span class="relative group-hover:text-cyan-800">Services</span>
                    </a>
                  </span>
                </li>
                <li class="relative">
                  <span class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                    <a href="#multimedia">
                      <span class="relative group-hover:text-cyan-800">Portfolio</span>
                    </a>
                  </span>
                </li>
                <li class="relative">
                  <span class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                    <a href="#reserves">
                      <span class="relative group-hover:text-cyan-800">About us</span>
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="fixed z-50 box-border w-full overflow-hidden">
	<div class="relative z-20 bg-black/80">
		<div class="px-6 lg:container md:px-12 lg:mx-auto lg:px-6 lg:py-4">
			<div class="flex items-center justify-between">
				<div class="relative z-20">
					<a href="#">
						<Image class="w-32" src={logo} alt="Logo Waqanki" />
					</a>
				</div>

				<div class="flex items-center justify-end border-l lg:border-l-0">
					<input type="checkbox" name="hamburger" id="hamburger" class="peer" hidden />
					<label for="hamburger" class="peer-checked:hamburger relative z-20 -mr-6 block cursor-pointer p-6 lg:hidden">
						<div aria-hidden="true" class="m-auto h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
						<div aria-hidden="true" class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
					</label>

					<div
						class="fixed inset-0 w-[calc(100%)] translate-y-[-100%] border-r bg-black/80 shadow-xl transition duration-300 peer-checked:translate-y-0 lg:static lg:w-auto lg:translate-y-0 lg:border-r-0 lg:bg-transparent lg:shadow-none"
					>
						<div class="flex h-full flex-col justify-between lg:flex-row lg:items-center">
							<a href="#header" class="">Home</a>
							<a href="#services" class="">Home</a>
							<a href="#multimedia" class="">Home</a>
							<a href="#reserves" class="">Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.hamburger div:first-child {
			@apply translate-y-1.5 rotate-45;
		}

		.hamburger div:last-child {
			@apply mt-2 -translate-y-1 -rotate-45;
		}
	}
</style>
