---
interface Props {
	title: string;
	description: string;
	idModal: string;
}
const { idModal } = Astro.props;
---

<div
	id="modal-content"
	class="fixed top-0 z-50 hidden h-full w-full bg-[rgba(0,0,0,0.65)] opacity-0 transition-opacity duration-[0.5s]"
>
	<div class="box-border flex m-auto w-[400px] flex-col rounded-2xl bg-[#eee] lg:w-[70%]">
		<button class="modal-close ml-auto h-auto w-6">X</button>
		<slot />
	</div>
</div>
