---
import { Image } from "astro:assets";
import Location from "../sources/Location.astro";
import Email from "../sources/Email.astro";
import Phone from "../sources/Phone.astro";

import youtube from "../../images/yt.webp";
import facebook from "../../images/fb.webp";
import book from "../../images/bk.webp";
---

<section class="footer-ctn" id="footer">
  <div class="footer-contact">
    <h3 class="footer-title">Contáctanos</h3>
    <div class="footer-info-ctn">
      <p><Location />Carretera Baños Termales Km. 03 Moyobamba - Perú</p>
    </div>
    <div class="footer-info-ctn">
      <p class="footer-info-ellipsis">
        <Email /> reservas@waqankiecolodge.com
      </p>
      <p class="footer-info-ellipsis">
        <Email /> waqankireservas@hotmail.com
      </p>
      <p class="footer-info-ellipsis"><Email /> birdinainmovo@amail.com</p>
    </div>
    <div class="footer-info-ctn">
      <p><Phone /> +51 964 785 853</p>
      <p><Phone /> +51 964016947</p>
      <p><Phone /> +51 956 034 628</p>
    </div>
  </div>

  <div class="footer-network">
    <h3 class="footer-title">Redes sociales</h3>
    <div class="footer-networks">
      <Image class="footer-networks-img" src={facebook} alt="Icon facebook" />
      <Image class="footer-networks-img" src={youtube} alt="Icon youtube" />
      <Image class="footer-networks-img" src={book} alt="Icon book" />
    </div>
  </div>

  <div class="footer-map">
    <h3 class="footer-title">Ubicación mapa</h3>
    <iframe
      class="footer-title-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.186740028314!2d-76.9748769638866!3d-6.074369526224734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b73a9ccd06e39b%3A0x2696e92846e6fb49!2sOrquidario+Wakanki%2C+Moyobamba!5e0!3m2!1ses-419!2spe!4v1507416439830"
      frameborder="0"
      width="100%"
      height="270"></iframe>
  </div>

  <p class="footer-credits">
    © 2017, Waqanki Ecologde Perú. Todos los derechos Reservados.
  </p>
</section>

<style>
  .footer-ctn {
    display: flex;
    flex-direction: column;
    background-color: #3fb54b;
    row-gap: 24px;
    padding: 0 36px;
    align-items: center;
    padding-top: 75px;
  }

  .footer-title {
    color: #f2f2f2;
    font-size: 2.5rem;
    text-align: center;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-info-ctn {
    display: flex;
    /* align-items: center; */
    width: 100%;
    gap: 8px;
    font-size: 1.5rem;
    color: #eee;
    flex-direction: column;
    /* margin-bottom: 12px; */
  }

  .footer-info-ctn p {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .footer-info-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .footer-info-icon-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .footer-network {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
  }

  .footer-networks {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .footer-networks-img {
    width: 60px;
    height: auto;
  }

  .footer-map {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-title-map {
    border-radius: 1.6em;
  }

  .footer-credits {
    font-size: 1.5rem;
    color: #eee;
    text-align: center;
    padding: 24px 0;
  }

  @media (min-width: 786px) {
    .footer-ctn {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 16px;
    }

    .footer-network { 
      width: auto;
      margin: 0;
    }

    .footer-networks {
      flex-direction: column;
      align-items: center;
      width: auto;
      gap: 16px;
    }

    .footer-credits {
      flex-shrink: 0;
      flex: none;
    }

    .footer-credits {
      width: 100%;
    }
  }
</style>
