---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { changeLanguage } from "i18next";
import image from "../../images/tour_scarlet.jpg";
import CardItinerary from "../../components/tour/CardItinerary.astro";
import { t } from "i18next";

const DAY = t(`tours.day`);
const TITLE = t(`tours.scarlet.title`);
changeLanguage("es");

const arrayItinerary = new Array(5).fill("");
---

<Layout title="Welcome to Astro.">
  <div class="w-full bg-white pb-24 pt-36">
    <div
      class="w-full flex flex-col items-center justify-center gap-8 md:flex-row"
    >
      <div
        class="w-full px-6 relative flex items-center justify-center md:w-2/5 md:px-0"
      >
        <Image
          class="w-full h-full object-cover brightness-50 rounded-lg shadow-xl"
          src={image}
          alt="Tour scarlet"
        />

        <h1 class="absolute z-10 text-6xl text-slate-50 text-center">
          Scarlet Banded Barbet
        </h1>
      </div>

      <p
        class="w-full px-12 text-neutral-900 text-2xl whitespace-pre-line px-6 md:w-2/5 md:px-0"
      >
        {TITLE}
      </p>
    </div>

    <div
      class="w-5/6 mx-auto d-flex justify-content-center align-items-center flex-column mt-16 md:w-2/4"
    >
      <ul
        aria-label="Colored activity feed"
        role="feed"
        class="relative flex flex-col gap-12 pl-6 before:absolute before:top-0 before:left-6 before:h-full before:border before:-translate-x-1/2 before:border-slate-200 after:absolute after:top-6 after:left-6 after:bottom-6 after:border after:-translate-x-1/2 after:border-slate-200"
      >
        {
          arrayItinerary.map((_, index) => (
            <CardItinerary
              title={DAY + " " + index}
              info={t(`tours.scarlet.info-${index}`)}
              ubication={t(`tours.scarlet.ubication-${index}`)}
            />
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
