---
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/Footer.astro";
// import i18next from "i18next";
// import { HeadHrefLangs } from "astro-i18next/components";
import { ViewTransitions } from "astro:transitions";
import '@fontsource-variable/outfit';

// console.log('i18next.languages', i18next.languages);;

interface Props {
  title: string;
}

const { title } = Astro.props;

import { getLangFromUrl } from '../i18n/utils';
import NewNavbar from "../components/navbar/NewNavbar.astro";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <!-- <meta http-equiv="refresh" content="0;url=/" /> -->
    <meta charset="UTF-8" />
    <meta name="description" content="Descubre que ofrecemos" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="es" href="https://www.example.com/" />
    <link rel="alternate" hreflang="en" href="https://www.example.com/en/" />
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  <!-- <meta http-equiv="refresh" content="0;url=/" /> -->

    <ViewTransitions fallback="swap" />
    <!-- <HeadHrefLangs /> -->
  </head>
  <body>
    <Navbar />
    <!-- <NewNavbar /> -->
    <slot />
    <Footer />
   
    <style is:global>
      html,
      body {
        background-color: #eeeeee;
        box-sizing: border-box;
        font-family: 'Outfit Variable', sans-serif;
        margin: 0;
        padding: 0;
        /* font-size: 62.5%; */
        /* font-size: 10px; */
        font-size: 16px;
        scroll-behavior: smooth;
        scroll-padding-top: 92px;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      [type="button"]:not(:disabled),
      [type="reset"]:not(:disabled),
      [type="submit"]:not(:disabled),
      button:not(:disabled) {
        cursor: pointer;
      }

      * {
        margin: 0;
        padding: 0;
      }

      textarea,
      input {
        outline: none;
      }

      /* @media (min-width: 768px) {
        html,
        body {
          font-size: 12px;
        }
      } */
    </style>
  </body>
</html>
